1)What are data structures, and why are they important
==> Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.

Importance:

Improve data processing speed

Enable efficient storage

Make complex tasks easier (searching, sorting, updating)

Form the foundation for algorithms and applications

2)Explain the difference between mutable and immutable data types with examples?
==> Mutable Data Types → Can be changed after creation
lst = [1, 2, 3]
lst[0] = 10
print(lst)
Immutable Data Types → Cannot be changed after creation
tup = (1, 2, 3)
tup[2] = 7
print(tup)


3)What are the main differences between lists and tuples in Python?
==> List- 1> mutable, syntax[1,2,3], used when data changes frequently , performance slower(flexible)
Tuple- 1> immutable, syntax(1,2,3), used when data is fixed, performance fast


4)Describe how dictionaries store data?
==> It stores data in key: value pairs using hashing.
keys must be unique and immutable(str, tuple,number)
values can be mutable or immutable
Python converts each key into a hash value to quickly find where it's located in memory.


vendor_det = {
    "ven_code": 292020,
    "ven_name": "Sun Ghosh",
    "unit": 78654,
    "price": 892202
}
print(vendor_det["ven_code"])


5) Why might you use a set instead of a list in Python?
==> You might use a set instead of a list when you need:
No duplicates → Sets automatically remove duplicate elements.
Fast lookups → Checking if an item exists is faster (O(1) on average) in a set compared to a list (O(n)).
Set operations → You can easily do union, intersection, and difference between sets.


6) What is a string in Python, and how is it different from a list?
==>String in Python → A sequence of characters enclosed in quotes (' ' or " ").
strings- 1> immutable, 2> syntax("sun"), 3> always charcters
lista- 1> mutable 2> syntax([1,2,3]), 3> can be numbers strings objects


7) How do tuples ensure data integrity in Python?
==> Tuples ensure data integrity in Python because they are immutable — once created, their elements cannot be modified, added, or removed.
This immutability means the data stays fixed, preventing accidental changes.


8) What is a hash table, and how does it relate to dictionaries in Python?
==> A data structure that stores key–value pairs and uses a hashing function to quickly find a value given its key.
Python’s dict is implemented internally as a hash table.
Keys are passed through a hash function to generate an index where the value is stored in memory.


9)Can lists contain different data types in Python?
Yes— lists in Python can contain different data types because Python lists are heterogeneous containers.


10)Explain why strings are immutable in Python?
Strings are immutable in Python because once a string is created in memory, its value cannot be changed — any modification creates a new string object instead of altering the original.


11)What advantages do dictionaries offer over lists for certain tasks?
Dictionaries use hash tables internally, so finding a value by its key is O(1) on average.
In a list, finding an item requires scanning, which is O(n).
Keys describe the data, making code more readable.
In lists, you must remember positions (index numbers).
In dictionaries, you just call the key.


12)Describe a scenario where using a tuple would be preferable over a list?
When you want to store fixed, unchangeable data that should not be accidentally modified — for example, geographical coordinates of a city.


13)How do sets handle duplicate values in Python?
Sets in Python do not allow duplicate values. When a duplicate is added, Python’s internal hash table structure detects it (using the element’s hash value) and ignores it, keeping only one copy.


14)How does the “in” keyword work differently for lists and dictionaries?
The in keyword checks whether a value exists in the list by scanning each element sequentially (linear search).
Also checks whether a key exists in the dictionary (not values) using a hash table lookup (much faster).


15)Can you modify the elements of a tuple? Explain why or why not?
No, Python stores tuples in fixed memory, so changing an element would require creating a new tuple instead.


16)What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary where some values are themselves dictionaries.It allows storing hierarchical or structured data in multiple levels.

In [ ]:
ven_det={
    "ven1": {
        "name":"Samkin",
        "code":281618,
        "pltype":"HDPE"
    },
    "ven2":{
        "name":"Rekraft",
        "code":281288,
        "pltype":"LLDPE"
    }

}

17)Describe the time complexity of accessing elements in a dictionary?

The dictionary calculates a hash value for the key and directly jumps to the memory location storing the value — no need to search through all elements.


18) In what situations are lists preferred over dictionaries?

Lists maintain the order of elements by default.
Lists allow you to access elements using a numerical index.
Unlike dictionaries, lists can have duplicate elements.
Lists are simpler when you only need to store values, not key–value pairs.
Perfect for sorting, slicing, reversing, and iterating in sequence.


19) Why are dictionaries considered unordered, and how does that affect data retrieval?

Traditionally, dictionaries in programming languages like Python are considered unordered collections because they store key-value pairs without guaranteeing any specific sequence for the keys.
No Indexing by Position

You can’t do my_dict[0] to get the "first" element like in a list.
You must retrieve values using their keys.

20)Explain the difference between a list and a dictionary in terms of data retrieval?

Access elements by index/position	Access elements by key
Syntax	my_list[2] → gets the 3rd item, my_dict["name"] → gets the value for "name"
my_list[2] → gets the 3rd item
my_dict["name"] → gets the value for "name"

List-Best for ordered collections where position matters
Dict- Best for key-value mappings where you need fast lookups by a unique identifier

In [1]:
'''1)Write a code to create a string with your name and print it'''

str="Sun Ghosh"
print(str)

Sun Ghosh

In [2]:
'''Write a code to find the length of the string "Hello World"'''
len("Hello World")

11

In [5]:
'''Write a code to slice the first 3 characters from the string "Python Programming"'''
str="Python Programming"
print(str[:3])

Pyt

In [8]:
'''Write a code to convert the string "hello" to uppercase'''
str="hello"
str.upper()

'HELLO'

In [9]:
'''Write a code to replace the word "apple" with "orange" in the string "I like apple"'''
str="I like apple"
str.replace("apple", "orange")

'I like orange'

In [11]:
''' Write a code to create a list with numbers 1 to 5 and print it'''
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [12]:
'''Write a code to append the number 10 to the list [1, 2, 3, 4]'''
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [14]:
''' Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P'''
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [16]:
''' Write a code to access the second element in the list ['a', 'b', 'c', 'd']'''

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [19]:
''' Write a code to reverse the list [10, 20, 30, 40, 50].'''
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
''' Write a code to create a tuple with the elements 100, 200, 300 and print it'''
my_tuple = (100, 200, 300)
print(my_tuple)

In [20]:
'''Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').'''

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [21]:
'''Write a code to find the minimum number in the tuple (10, 20, 5, 15).'''
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [22]:
'''Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').'''
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [23]:
'''Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.'''
my_tup= ("apple","mango","kiwi")
print("kiwi" in my_tup)

True

In [42]:
''' Write a code to create a set with the elements 'a', 'b', 'c' and print it.'''
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [43]:
'''Write a code to clear all elements from the set {1, 2, 3, 4, 5}.'''
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [25]:
'''Write a code to remove the element 4 from the set {1, 2, 3, 4}.'''
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [27]:
''' Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.'''
my_set1={1,2,3}
my_set2={3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

In [28]:
'''Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.'''
my_set1={1,2,3}
my_set2={2,3,4}
print(my_set1.intersection(my_set2))

{2, 3}

In [29]:
''' Write a code to create a dictionary with the keys "name", "age", and "city", and print it.'''
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [30]:
'''Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.'''
my_dict={
    "name":"John",
    "age":25
}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [31]:
''' Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}'''
my_dict={
    "name":"Alice",
    "age":30
}
print(my_dict["name"])

Alice

In [32]:
'''. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.'''
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
'''Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.'''
my_dict={'name': 'Alice', 'city': 'Paris'}
print("city" in (my_dict))

True

In [34]:
'''Write a code to create a list, a tuple, and a dictionary, and print them all.'''
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}

In [37]:
'''Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
my_list = random.sample(range(1,101),5)
my_list.sort()
print(my_list)

[54, 58, 59, 81, 94]

In [38]:
''' Write a code to create a list with strings and print the element at the third index.'''
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [39]:
''' Write a code to combine two dictionaries into one and print the result.'''
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
'''Write a code to convert a list of strings into a set.'''
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'elderberry', 'cherry', 'date'}